<html>
  <head>
      <title>Welcome page!</title>
      <link rel="stylesheet" type="text/css" href="/CSS/login.css">
  </head>
  <body>
      <div id="body">
          <div id="enter_div" class="box">
              <form id="Enter_game" action="/play/game" method="POST">
                  <h2>Enter name:</h2>
                  <h4>GAME KEYS: WASD</h4>
                  Game name:<br>
                  <input type="text" name="username"><br>
                  <button type="submit">Enter game!</button>
              </form> 
              <a href="/req/logout">Logout</a>
          </div>
        <div id="best_info" class="box">
          <h1>Best performance</h1>
          <ul>
            <%if(typeof bestrank !="undefined"){%>
            <li>Highest points: <%= bestpoint%></li>
            <li>Longest time: <%= besttime%></li>
            <li>Highest rank: <%= bestrank%></li>
            <% } else{%>
              <h1>NO BEST DATA</h1>
            <%}%>
          </ul>
        </div>
        <div id="game_info" class="box">
            <h1>Overall performance</h1>
            <ul>
              <%if(typeof avgrank !="undefined"){%>
              <li>Average points:<%= avgpoint%> </li>
              <li>Average time:<%= avgtime%> </li>
              <li>Average rank:<%= avgrank%> </li>
              <% } else{%>
                <h1>NO AVG DATA</h1>
              <%}%>
            </ul>
          </div>
        <div id="prevGame_info" class="box">
            <h1>Previous game data</h1>
            <ul>
                <%if(typeof rank !="undefined"){%>
                <li>Points: <%= points%></li>
                <li>Players eaten: <%= kills%></li>
                <li>Time lived: <%= time%></li>
                <li>Rank: <%= rank%></li>
                <% } else{%>
                  <h1>NO DATA</h1>
                <%}%>
            </ul>
        </div>
      </div>
  </body>
</html>